body {
  font-family: 'helvetica', 'sans-serif';
  margin: 0;
}
/* Global style */
h1, h2, h3, h4, h5,h6 {
  line-height: 1.5;
  font-weight: 300;
  margin: 0.5em 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.0em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.4em;
}
h5, h6 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
}
p, label, strong {
  line-height: 2em;
  font-size: 0.85em;
  font-weight: 300;
}

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}
.badge {
  padding: 9px 20px;
  color: #eee;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  text-align: center;
}
.badge.new {
  background-color: #ff205f;
}
.badge.strategy {
  background-color: #4eae60;
}
.badge.racing {
  background-color: #694eae;
}
.badge.role, .badge.adventure {
  background-color: #4babf5;
}
.badge.tournaments {
  background-color: #fb6c10;
}
.badge.premium_tournament {
  background-color: #ffb320;
  color: #252525;
}
.shade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
/* End of global styles */

/* Header styles */
header {
  background-color: #131313;
  position: relative;
  padding: 76px 0;
  border-bottom: 1px solid #ffb320;
}

.hamburger_menu {
  display: none;
  padding: 3px 5px;
  background-color: transparent;
  border: 1px solid #ffb320;
  cursor: pointer;
  width: 30px;

}
.hamburger_menu {
  display: block;
  height: 1px;
  background-color: #ffb320;
  margin: 4px 0;
}
nav ul li  {
  display: inline-block;
  font-size: 1em;
  margin: 0 18px;
}
nav ul li a {
  color: #eee;
  font-weight: 600;
  cursor: pointer;
}
nav ul li a:hover {
  color: #ffb320;
}
#login_register_button {
  background-color: #ffb320;
  border-radius: 20px;
  color: #131313;
  padding: 10px 15px;
  font-size: 0.85em;
  font-weight: 600;
}
/* End of header styles */

/* style hero section */
#hero_image {
  background: url(../images/transformers.jpg) top center no-repeat;
  height: 820px;
}
.hero_marketing-text {
  max-width: 1200px;
  margin: -30px auto 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 0 20px;
}
.hero_marketing-text h1 {
  color: #eee;
  font-size: 3.5em;
  font-weight: 300;
  margin: 0.5em 0;
}
.hero_marketing-text span {
  color: #ffb320;
}
.hero_marketing-text p {
  color: #eee;
  font-size: 00.85em;
  font-weight: 300;
  max-width: 500px;
  line-height: 2;
  margin-bottom: 2.5em;
}
.hero_marketing-text button {
  background-color: #ffb320;
  border-radius: 20px;
  font-size: 00.85em;
  padding: 15px 25px;
  color: #131313;
  font-weight: 600;
  border: none;
  cursor: pointer;

}
/* End style hero section */
/* news section styles */
#latest_news {
  margin-bottom: 75px;
}
#latest_news .flex {
  justify-content: flex-start;
  max-width: 100%;
  padding: 0;
}
#latest_news .flex h5 {
  flex-basis: 25%;
  background-color: #ffb320;
  padding: 25px;
  margin: 0;
  text-align: right;
  color: #eee;
  font-size: 1.2em;
}
.latest_news_item {
  display: flex;
  align-items: center;
}
#latest_news_container {
  background-color: #131313;
  flex-basis: 75%;
  padding: 25px;
  position: relative;
}
#latest_news_container .badge {
  margin: 25px;
}
#latest_news_container .latest_news_text {
  color: #eee;
}
/* End news section styles */
/* game types styles */
#game_type_boxes {
  margin-bottom: 75px;
}
#game_type_boxes .box {
  flex-basis: 25%;
  position: relative;
  height: 380px;
}
#game_type_boxes .box.new {
  background: url(../images/war.jpg) top center no-repeat;
  background-size: cover;
}
#game_type_boxes .box.strategy {
  background: url(../images/fantasy.jpg) top center no-repeat;
  background-size: cover;
}
#game_type_boxes .box.playing {
  background: url(../images/giant.jpg) top center no-repeat;
  background-size: cover;
}
#game_type_boxes .box.racing {
  background: url(../images/gta.jpg) top center no-repeat;
  background-size: cover;
}
#game_type_boxes .box .badge {
  position: relative;
  top: 20px;
  left: 15px;
  z-index: 2;
}
#game_type_boxes .box .content {
  position: absolute;
  padding: 0 35px 0 25px;
  left: 0;
  color: #eee;
  bottom: 20px;
  z-index: 2;
}
#game_type_boxes .box .content a {
  font-size: 0.8em;
  font-weight: 300;
  color: #999;
}

/*End of game types styles */
/* recent games styles */
#recent_games {
  background: url(../images/traitor.jpg) top center no-repeat;
  background-color: #ccf2f6;
  border-top: 1px solid #d6dee7;
  border-bottom: 1px solid #d6dee7;
  padding: 70px 0 120px;
}
#recent_games h2 {
  text-align: center;
}
#recent_games .box {
  flex-basis: 31%;
  background-color: #ffff;
  position: relative;
}
#recent_games .badge {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
#recent_games .box img {
  width: 100%;
}
#recent_games .box_lower_section {
  padding: 20px;
}
#recent_games .box_lower_section p {
  color: #999;
}
#recent_games .box_lower_section a {
  color: #999;
  font-size: 0.8em;
}
/* End recent games styles */